$def with (list0,list1,list2,flag0,flag1,flag2)

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>
<table border="1">
<tr>
<td>级别</td>
<td>用户列表</td>
<td>自动回复状态</td>
</tr>
<tr>
<td>级别０</td>
<td>$list0</td>
<td>$flag0</td>
</tr>
<tr>
<td>级别１</td>
<td>$list1</td>
<td>$flag1</td>
</tr>
<tr>
<td>级别２</td>
<td>$list2</td>
<td>$flag2</td>
</tr>
</table>

<form action=/changelevel method=POST>
	<table id="login">
		<tr>
			<td>用户: </td>
			<td><input type=text name='username'></td>
			<td>修改级别为: </td>
			<td>
			<select name="choose_list">
  			<option value="0">0</option>
  			<option value="1">1</option>
  			<option value="2">2</option>
			</select>
			</td>
			<td><input type=submit value=确认修改></td>
		</tr>
	</table>
</form>
<form action=/group method=POST>	
	<table id="sendGpMsg"border="1">
		<tr>
			<td>dstName: </td>
			<td><input name="level" type="checkbox" value="0"/>级别0
				<input name="level" type="checkbox" value="1"/>级别1
				<input name="level" type="checkbox" value="2"/>级别2
			</td>
		</tr>
		<tr>
			<td>content: </td>
			<td><input type=text name='gpcontent'>
			<input type=submit value=发送消息></td>
		</tr>
	</table>
</form>
<form action=/levelreply method=POST>
	<table id="autoreply">
		<tr>
			<td>ReplyMode: </td>
			<td><input name="reply" type="checkbox" value="0"/>级别0
				<input name="reply" type="checkbox" value="1"/>级别1
				<input name="reply" type="checkbox" value="2"/>级别2
			</td>
			<td><input type=submit value=确认修改></td>
		</tr>
	</table>
</form>

<a href="./index">首页</a>
<a href="./logout">登出</a>
<a href="./messagelist">消息列表</a>
<a href="./login">登录</a>
<a href="./regist">注册</a>
<a href="./group">级别操作</a>
