$def with (name)

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>
<body>
<table border = "1" align="center">
	<tr>
		<th>messagelist</th>
	</tr>
	$for t in name.split('+'):
		$if t != '':
			<tr><td>$t</td></tr>
</table>
<form action=/messagelist method=POST>
	<table id="sendMsg">
		<tr>
			<td>dstName: </td>
			<td><input type=text name='dstName'></td>
		</tr>
		<tr>
			<td>content: </td>
			<td><input type=text name='content'></td>
		</tr>
		<tr>
			<td><input name="timeflag" type="checkbox" value="1"/>定时:</td>
			<td><input type=text name='timeinfo'></td>
		</tr>>
		<tr>
			<td></td>
			<td><input type=submit value=SENDMSG></td>
		</tr>
	</table>
	
	<table id="change_mode">
		<tr>
			
			<td>自动回复模式: </td>
			<td>
			<select name="choose_list">
			<option value="test"></option>
  			<option value="on">on</option>
  			<option value="off">off</option>
			</select>
			</td>
			<td><input type=submit value=确认></td>
		</tr>
	</table>
</form>

<a href="http://127.0.0.1:8080/logout">登出</a>
</body>
</html>